<div class="mx-auto w-full text-gray-700 px-4 py-4 bg-white mt-4 shadow-xl">
  <% if notice.present? %>
    <div class="text-2xl block text-green-500 w-full text-center mb-14"><%= notice %></div>
  <% end %>
  <h1 class="mx-auto text-center uppercase text-gray-500 text-3xl"><%= @type_of_quiz_name %></h1>
  <%= form_tag id:"question-form" do %>
    <% if @type_of_quiz_name == "MCQ" || @type_of_quiz_name == "Select one" %>
      <div class="questions">
        <div class="my-5" id="quesition">
          <div class="question">
            <%= label_tag :question,"Q." %>
            <%= text_area_tag :question,@question.question,id:"question",class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
          </div>
          <br>
          <div class="option">
            <% if @question.options.present? %>
              <script>var option=0;</script>
              <% i=1 %>
              <% @question.options.each do |option| %>
                <%= label_tag :option, "Option #{i}",for: "option#{i}" %>
                <%= text_field_tag :option,option,name: "option#{i}", id:"option#{i}", onkeyup:"addNewOption(this.value,'option1')",class: "option-of-question options block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
                <script>option++;</script>
                <% i = i+1 %>
              <% end %>
            <% else %>
                <%= label_tag :option1, "Option 1" %>
                <%= text_field_tag :option1,"",id:"option1", onkeyup:"addNewOption(this.value,'option1')",class: "option-of-question options block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
            <% end %>
          </div>
          <% if params[:edit]=="true" %>
            <button type="button" id="add-option-button" class="float-right mt-5 bg-transparent hover:bg-green-700 text-green-800 font-semibold hover:text-white py-2 px-4 border border-cyan-700 hover:border-transparent rounded">
              Add Option
            </button>
          <% else %>
            <button type="button" id="add-option-button" class="hidden float-right mt-5 bg-transparent hover:bg-green-700 text-green-800 font-semibold hover:text-white py-2 px-4 border border-cyan-700 hover:border-transparent rounded">
              Add Option
            </button>
          <% end %>
          <div class="correct-answer mt-4">
            <%= label_tag :correct_answer, "Please Select Correct Answer",class:"mr-4" %>
            <% if @question.options.present? %> 
              <%= select_tag(:correct_answer,options_for_select(@question.options,@question.answer.to_s)) %>
            <% else %>
              <%= select_tag(:correct_answer) %>
            <% end %>
          </div>
        </div>
      </div>
      <%= hidden_field_tag :type_of_quiz,params[:type_of_quiz]%>
    <div>
      <% if params[:edit]=="true" %>
        <%= hidden_field_tag :question_id,params[:question_id]%>
        <button type="button" id="update-button" class="w-full hidden shadow-xl bg-cyan-800 text-white font-semibold px-4 py-2 hover:bg-cyan-600 rounded">
          Update
        </button>
      <% else %>
        <button type="button" id="save-button" class="w-full hidden shadow-xl bg-cyan-800 text-white font-semibold px-4 py-2 hover:bg-cyan-600 rounded">
          Save
        </button>
      <% end %>
    </div>
    <% elsif @type_of_quiz_name == "Fill ups" %>
      <div class="questions">
        <div class="my-5" id="quesition">
          <div class="question">
            <%= label_tag :question,"Q1." %>
            <% if @question.question.present? %>
              Before blank space(_______________)
              <%= text_field_tag :before_question,@question.question.split("______________").first,id:"before_question",class: "mb-2 block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
              (_______________)After blank space
              <%= text_field_tag :after_question,@question.question.split("______________").second,id:"after_question",class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
            <% else %>
              Before blank space(_______________)
              <%= text_field_tag :before_question,"",id:"before_question",class: "mb-2 block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
              (_______________)After blank space
              <%= text_field_tag :after_question,"",id:"after_question",class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
            <% end %>
            <%= hidden_field_tag :question,"",id:"question",class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
          </div>
          <br>
          <div class="correct-answer mt-4">
            <%= label_tag :correct_answer,"Enter Correct Answer"%>
            <%= text_field_tag :correct_answer,@question.answer,class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
          </div>
        </div>
      </div>
      <br>
      <%= hidden_field_tag :type_of_quiz,params[:type_of_quiz]%>
      <div>
        <button type="button" id="save-button-fillups" class="w-full shadow-xl bg-cyan-800 text-white font-semibold px-4 py-2 hover:bg-cyan-600 rounded">
          Save
        </button>
      </div>
    <% elsif @type_of_quiz_name =="Jumbled Words" %>
      <div class="questions">
        <div class="my-5" id="quesition">
          <div class="question">
            <%= label_tag :question,"Q1." %>
            <%= text_area_tag :question,@question.question,id:"question",class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
          </div>
          <br>
          <div class="correct-answer mt-4">
            <%= label_tag :correct_answer,"Enter Correct Answer"%>
            <%= text_field_tag :correct_answer,@question.answer,class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
          </div>
        </div>
      </div>
      <br>
      <%= hidden_field_tag :type_of_quiz,params[:type_of_quiz]%>
      <div>
        <button type="button" id="save-button" class="w-full shadow-xl bg-cyan-800 text-white font-semibold px-4 py-2 hover:bg-cyan-600 rounded">
          Save
        </button>
      </div>
    <% end %>
  <% end %>
</div>

<script> 
  if(typeof option == 'undefined')
  { 
    var optionNo=1;    
  }
  else{ 
    var optionNo=option;
    option=undefined;
  }
  
    $("#add-option-button").on("click",function() {
      optionNo++;
      $(".option").append('<label class="mt-4" for="option'+optionNo+'">Option'+optionNo+'.</label>');
      $(".option").append('<input type="text" name="option'+optionNo+'" id="option'+optionNo+'" onkeyup=addNewOption(this.value,this.id) class="option option-of-question block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full">');
      $("#add-option-button").css("display","none");
      $("#save-button").css("display","none");
      $("#update-button").css("display","none");
    })

    function addNewOption(val,id){
      if(val!="")
      {
        $("#add-option-button").css("display","block");
        $("#save-button").css("display","block");
        $("#update-button").css("display","block");
        if($("#correct_answer").find("#"+id).length>0)
        {
          $("#correct_answer").find("#"+id).html(val);
        }
        else
        {
          $("#correct_answer").append("<option id='"+id+"'>"+$("#"+id).val()+"</option>");
        }
      }    
    }

    $("#save-button").on("click",function(){
      $.ajax({
        type: 'post',
        data: $("form").serialize(),
        url: "<%= questions_path %>"
      });
    })

    $("#update-button").on("click",function(){
      $.ajax({
        type: 'post',
        data: $("form").serialize(),
        url: "<%= update_question_path %>"
      });
    })

    $("#save-button-fillups").on("click",function(){
      $("#question").val($("#before_question").val()+"______________"+$("#after_question").val())
      $.ajax({
        type: 'post',
        data: $("form").serialize(),
        url: "<%= questions_path %>"
      });
    })

</script>