<div id="<%= dom_id question %>">
  <% index=@questions.find_index(question) %>
  <div class="w-full">
    <div class="max-w-lg">
      <p class="text-xl text-gray-600">
        Q<%= index+1 %>.&ensp;
        <%= question.question %>
      </p>
      <div class="mt-4 space-y-4 mb-6">
      <% if TypeOfQuiz.find(params[:type_of_quiz]).type.name == "Fill ups"%>
      Fill sentence : <input type="text" id="<%= question.id %>" value="" name="filll<%= index+1 %>" class="fillups_options option-of-question options block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full">
     <input type="hidden" class="<%= question.id %>" name="selected_ans<%= index+1 %>" />
      <% elsif TypeOfQuiz.find(params[:type_of_quiz]).type.name == "Jumbled Words" %>
      correct sequence : <input type="text"  id="<%= question.id %>" value="" name="jumble<%= index+1 %>" class="fillups_options option-of-question options block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full">
      <input type="hidden" class="<%= question.id %>" name="selected_ans<%= index+1 %>" />

      <% elsif TypeOfQuiz.find(params[:type_of_quiz]).type.name == "Select one" %>
          <div>
            <label for="location" class="block text-sm font-medium text-gray-700">Select</label>
            <select id="location"  name="selected_ans<%= index+1 %>" class="mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md">
            <% question.options.each do |option| %>
              <option value="<%= option %>,<%= question.id %>" id="<%= index %><%=option %>" name="correct-answer<%= question.id %>"><%= option %></option>
            <% end %>
        </div>
      <% else %>
        <% question.options.each do |option| %>
          <div class="flex items-center mb-2">
            <input id="<%= index %><%=option %>" value="<%= option %>,<%= question.id %>" name="selected_ans<%= index+1 %>" type="radio" class="focus:ring-cyan-500 h-4 w-4 text-cyan-600 border-gray-300">
            <label for="<%= index %><%=option %>" class="ml-3 block text-sm font-medium text-gray-700"><%= option %></label>
          </div>
        <% end %>
      <% end %>
      </div>
    </div>
  </div>
</div>
