<%= form_with(model: type_of_quiz, class: "contents") do |form| %>
  <% if type_of_quiz.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(type_of_quiz.errors.count, "error") %> prohibited this type_of_quiz from being saved:</h2>

      <ul>
        <% type_of_quiz.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="my-5">
    <%= form.label :name %>
    <div id="name" class="block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full">
      <%= type_of_quiz.type.name %>
    </div>
  </div>

  <div class="my-5">
    <%= form.label :description %>
    <%= form.rich_text_area :description %>
  </div>

  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
